# this is an example of a .env file, that should be present in this directory. use something like this

# PG setup
PGHOST=
PGUSER=
PGDATABASE=
PGPASSWORD=
PGPORT=5432

DEV_DATABASE_URL=
TEST_DATABASE_URL=
PRODUCTION_DATABASE_URL=
DATABASE_URL=

# server setup
PORT=8080

# node environment
NODE_ENV=development